GridBackground
{
  --grid-background-color: var(--se-colors-grid-light-grey-1);
  --line-color: var(--se-colors-grid-light-grey-2);
  --thick-line-color: var(--se-colors-grid-light-grey-3);
  --spacing: var(--se-metrics-grid-25);
}